<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>New user</title>
</head>
<body>

<div class="container-fluid bg-dark text-white">
    <form th:action="@{/logout}" method="post">
        <div class="d-flex align-items-center justify-content-between">
            <div th:name="name" class="box">
                <span sec:authorize="isAuthenticated()">
                    <span th:text="${us.getLastName()}"></span>
                    <span th:text="${us.getEmail()}"></span>
                    <span> with roles: </span>
                    <span sec:authentication="principal.authorities">Roles</span>
                </span>
            </div>
            <div class="box">
                <input type="submit" value="Logout" class="btn btn-primary-outline text-secondary"/>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="padding: 0; margin-top: 10px;">
            <div class="bg-info text-white" style="padding: 10px;">
                <span>Admin</span>
            </div>
            <div style="padding: 10px;">
                <a href="/user">User</a>
            </div>
        </div>
        <div class="col-sm-10 bg-light" style="padding: 15px;">
            <h1>Admin panel</h1>
            <div class="row col-sm-4">
                <div class="col-sm-6 text-center" style="padding: 5px;">
                    <a href="/admin">Users table</a>
                </div>
                <div class="col-sm-6 bg-white text-center" style="padding: 5px;">
                    <span>New User</span>
                </div>
            </div>
            <div style="border:1px solid #F6EFEE;">
                <h2 style="padding: 12px;">Add new user</h2>
                <div class="col-12 mx-auto text-center align-items-center bg-white">
                    <form th:action="@{/}" th:object="${user}" th:method="POST">
                        <div class="form-group">
                            <div class="col-3 mx-auto">
                                <strong><label for="user.username">First Name </label> </strong>
                                <input type="text" class="form-control" id="user.username" name="username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-3 mx-auto">
                                <strong><label for="user.lastName">Last Name </label> </strong>
                                <input type="text" class="form-control" id="user.lastName" name="lastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-3 mx-auto">
                                <strong><label for="user.age">Age</label> </strong>
                                <input type="number" class="form-control" id="user.age" name="age" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-3 mx-auto">
                                <strong><label for="user.email">Email </label> </strong>
                                <input type="text" class="form-control" id="user.email" name="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-3 mx-auto">
                                <strong><label for="user.password">Password </label> </strong>
                                <input type="password" required class="form-control" placeholder="" id="user.password"
                                       name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-3 mx-auto">
                                <strong><label>Roles</label> </strong>
                                <select class="custom-select" id="ROLES" name="roles" multiple size="2" required>
                                    <option th:text="ROLE_ADMIN" th:value="ROLE_ADMIN"></option>
                                    <option th:text="ROLE_USER" th:value="ROLE_USER"></option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Add new user</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>